* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background: #f0edff;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.login {
	/* width: 100%;
	height: 100vh; */
	display: flex;
	align-items: center;
	width: 1366px;
	height: 768px;
	box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
	border-radius: 24px;
}

.login_title {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 10px;
	margin-block-start: 0;
	margin-block-end: 0;
}

.login_subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #525252;
	margin-bottom: 24px;
}

.login_section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	flex-shrink: 0;
	background: #fff;
	border-radius: 24px 0 0 24px;
}
.login_section div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 364px;
}

.login_section form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.login_section form input,
.login_section form button {
	height: 52px;
	border-radius: 16px;
	font-size: 12px;
	line-height: 18px;
}

.login_section form > .input-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 18px;
}

.input-wrapper img {
	position: absolute;
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
}

.login_section form input {
	width: 100%;
	background: #f0edff;
	border: none;
	padding: 0 20px 0 48px;
	font-weight: 400;
}

.login_section form input:focus {
	outline: 0.12px solid #9181f4;
}

.login_section form input::placeholder {
	color: #1c1c1c;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.login_section form button {
	width: 124px;
	background: linear-gradient(99.78deg, #9181f4 -5.85%, #5038ed 109.55%);
	box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
	border: none;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	margin-top: 6px;
	transition: box-shadow 0.3s ease;
}

.login_social {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.login_social button {
	width: 100%;
	height: 52px;
	border: 1px solid #e0e0e0;
	background: #fff;
	border-radius: 16px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.login_social span {
	font-weight: 700;
}

.login_section hr {
	width: 100%;
	height: 1px;
	margin: 24px 0;
	background: #f0edff;
	border: none;
}

.line-through_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px 0;
	height: 24px;
}

.line-through {
	height: 1px;
	width: 100%;
	background: #f0edff;
	text-align: center;
	position: relative;
}

.line-through p {
	background: #fff;
	padding: 0 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.line-through span {
	font-weight: 400;
	color: #525252;
}

.login_visual {
	background-image: url('../resources/images/Rectangle.svg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 0 24px 24px 0;
}

.login_visual_frame {
	width: 412px;
	height: 524px;
	border-radius: 46px;
	border: 1px solid #ffffff85;
	opacity: 0px;
	padding: 26px 0 0 31px;
	background: #ffffff36;
	position: relative;
}

.login_visual_text {
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	line-height: 46px;
	text-align: left;
	width: 184px;
	height: 230px;
}

.woman {
	position: absolute;
	top: 50%;
	right: 26px;
	transform: translateY(-50%);
}

.thunder_img_wrapper {
	position: absolute;
	bottom: 98px;
	left: -39.5px;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 79px;
	height: 79px;
	border-radius: 50px;
	overflow-y: hidden;
}
